:root{
  --primary-color: #1e88e5;
  /* Navbar */
  --navbar-primary-color: #2196f3;

  /* Font-color */
  --font-primary-color: #bcdffb;
  --font-inverted-color: #fff;

  /* Link */
  --active-link-pimary-color: #1e88e5;

  /* Skeleton */
  --primary-skeleton: #86dafb;
}