.nav {
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbar-primary-color);

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      font-size: var(--font-size-m);
    }
  }
}

.nav li:first-child {
  padding-left: 50px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-primary-color);
  padding: 0 10px;
  height: 100%;


  &:hover {
    background-color: var(--active-link-pimary-color);
  }
}

.active-link {
  background-color: var(--active-link-pimary-color);
  font-weight: bold;
  color: var(--font-inverted-color);
}